@{ 
    ViewBag.Title = "ScripturallySound - Index";
}
<div class="row topSpacer"></div>
<div class="row">
    <div class="col-lg-12">
        <img src="~/Images/ScripturallySoundTransparentLogo.png">
    </div>
</div>
<div class="row bottomSpacer">
</div>
